.mainNav {
  background-color: rgb(51, 51, 51);
  display: none;
  position:relative;

} 
.mobileNav {
  width: 80%;
  height: 100vh;
  background-color: rgb(51, 51, 51);
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  display: flex;
  z-index: 1;
  flex-direction: column;

}
.Logo {
  padding-top: 2rem;
  padding-left: 2rem;
  margin-bottom: 5rem;
}
.Logo h1 {
  color: #fff;
}
.navigationMenu {
  height: 100%;
}
.navigationMenu ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CloseIcon{
  position:absolute;
  color:#fff;
  font-size:2rem;
  right:5%;
  top:2%;
  cursor: pointer;
}
.menubar{

  background: rgb(51, 51, 51);
  color:#fff;
  font-size: 2rem;
  padding-top:1rem;
  padding-left:1rem;
 
}
.menubar span{
cursor: pointer;
}
@media screen and (min-width: 600px) {
  .mainNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .Logo {
    padding:0;
    padding-left:1rem;
    margin-bottom:0;
    width: 35%;
  }
  .Logo h1 {
    font-size: 1.2rem;
  }
  .mobileNav {
    display: none;
  }
  .navigationMenu{
    width:100%
  }
  .navigationMenu ul {
 height: 100%;
    flex-direction: row;
    
  }
  .menubar{
    display:none;
}

}

@media screen and (min-width: 900px) {
  .mainNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .Logo {
    padding:0;
    padding-left:1rem;
    margin-bottom:0;
    width: 30%;
  }
  .Logo h1 {
    font-size: 1.7rem;
  }
  .mobileNav {
    display: none;
  }
  .navigationMenu{
    width:100%;
    height: 100%;
  }
  .navigationMenu ul {
 height: 100%;
    flex-direction: row;
    
  }
}

